<a href="https://colab.research.google.com/github/baharkarami/Text-Mining-Class/blob/main/basic_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **built-in data types in Python**

1. Integer (int)

  An integer is a whole number, positive or negative, without a decimal point.

In [ ]:
x = 10
print(type(x))
print(x)

<class 'int'>
10

2. Floating-point number (float)

  A float is a number that has a decimal point.

In [ ]:
y = 3.14
print(type(y))
print(y)

<class 'float'>
3.14

3. Complex numbers (complex)

  are numbers that have both a real and an imaginary part. They are represented as `real` + `imaginaryj`, where `real` is the real part and `imaginary` is the imaginary part, denoted by `j` or `J`.

In [ ]:
z1 = 3 + 4j
print(type(z1))
print(z1)

<class 'complex'>
(3+4j)

4. String (str)

  A string is a sequence of characters enclosed in single, double, or triple quotes.

In [ ]:
name = "Alice"
print(type(name))
print(name)

<class 'str'>
Alice

5. Boolean (bool)

  A boolean value can either be `True` or `False`.

In [ ]:
is_valid = True
print(type(is_valid))
print(is_valid)

<class 'bool'>
True

6. List (list)

  A list is an ordered, mutable collection of elements. Elements can be of any data type.

In [ ]:
fruits = ["apple", "banana", "cherry"]
print(type(fruits))
print(fruits)

<class 'list'>
['apple', 'banana', 'cherry']

In [ ]:
r = ["a", 2, True]
print(type(r))
print(r)

<class 'list'>
['a', 2, True]

7. Tuple (tuple)

  A tuple is an ordered, immutable collection of elements.

In [ ]:
coordinates = (10, 20, 30)
print(type(coordinates))
print(coordinates)

<class 'tuple'>
(10, 20, 30)

8. Set (set)

  A set is an unordered collection of unique elements.

In [ ]:
colors = {"red", "green", "blue"}
print(type(colors))
print(colors)

<class 'set'>
{'green', 'blue', 'red'}

9. Dictionary (dict)

  A dictionary is a collection of key-value pairs.

In [ ]:
person = {"name": "Alice", "age": 25}
print(type(person))
print(colors)

<class 'dict'>
{'green', 'blue', 'red'}

10. Range (range)

  A range represents an immutable sequence of numbers, often used in loops.

In [ ]:
numbers = range(5)
print(type(numbers))
print(numbers)

<class 'range'>
range(0, 5)

11. Frozen set (frozenset)

  A frozen set is an immutable version of a set. Like a regular set, it is an unordered collection of unique elements. However, unlike a regular set, you cannot modify a frozen set once it is createdâ€”no adding or removing elements is allowed.

In [ ]:
# Creating a frozen set from a list
fruits = ["apple", "banana", "cherry", "apple"]
frozen_fruits = frozenset(fruits)
print(type(frozen_fruits))
print(frozen_fruits)

<class 'frozenset'>
frozenset({'banana', 'cherry', 'apple'})

In [ ]:
# Creating frozen sets
fs1 = frozenset([1, 2, 3])
fs2 = frozenset([4, 5, 6])

# Using frozen sets as dictionary keys
dic = {fs1: "Set 1", fs2: "Set 2"}
print(dic)

{frozenset({1, 2, 3}): 'Set 1', frozenset({4, 5, 6}): 'Set 2'}

Feature    -  Set	     -     Frozen Set

Mutability: Mutable	   -  Immutable

Hashable:   Not Hashable	- Hashable

Used as Key: Not Allowed	-  Allowed

Add/Remove:  Possible	   -   Not Possible



---

# **numbers in python:**

In [ ]:
x = 1        # int
y = 2.8      # float
z = 3 + 4j   # complex

**operations on numbers:**

1. Arithmetic Operations:

In [ ]:
a = 5
b = 3

In [ ]:
# Addition (+): Adds two numbers:
a + b

8

In [ ]:
# Subtraction (-): Subtracts one number from another.
a - b

2

In [ ]:
# Multiplication (*): Multiplies two numbers.
a * b

15

In [ ]:
# Division (/): Divides one number by another (returns a float).
a / b

1.6666666666666667

In [ ]:
# Floor Division (//): Divides one number by another and rounds down to the nearest integer.
a // b

1

In [ ]:
# Modulus (%): Returns the remainder of division.
a % b

2

In [ ]:
# Exponentiation (**): Raises one number to the power of another.
a ** b

125

2. Comparison Operations:

In [ ]:
# Equal to (==): Checks if two numbers are equal.
(a == b)

False

In [ ]:
# Not equal to (!=): Checks if two numbers are not equal.
(a != b)

True

In [ ]:
# Greater than (>): Checks if the first number is greater than the second.
(a > b)

True

In [ ]:
# Less than (<): Checks if the first number is less than the second.
(a < b)

False

In [ ]:
# Greater than or equal to (>=): Checks if the first number is greater than or equal to the second.
(a >= b)

True

In [ ]:
# Less than or equal to (<=): Checks if the first number is less than or equal to the second.
(a <= b)

False



---


# **Common Escape Characters**

In [ ]:
#1) \n: Newline (Line break)
print("Hello\nWorld")

Hello
World

In [ ]:
#2) \t: Tab (Horizontal tab)
print("Hello\tWorld")

Hello	World

In [ ]:
#3) \\: Backslash
print("C:\\Users\\Name")

C:\Users\Name

In [ ]:
#4) \': Single quote (used inside a string that is enclosed in single quotes)
print('It\'s a beautiful day!')

It's a beautiful day!

In [ ]:
#5) \r: Carriage return (moves the cursor to the beginning of the line)
print("Hello\rWorld")

World



---

#**operations on strings**

 1. Concatenation (+):

In [ ]:
# The + operator is used to concatenate (join) two or more strings together.
str1 = "Hello"
str2 = "World"
result = str1 + " " + str2
print(result)

Hello World

2. Repetition (*):

In [ ]:
# The * operator is used to repeat a string a specified number of times.
str1 = "Hello"
result = str1 * 3
print(result)

HelloHelloHello

3. Membership (in and not in):

  These operators are used to check if a substring exists within a string or not.

In [ ]:
# in: Returns True if the substring is found in the string.
str1 = "Hello, World!"
result = "World" in str1
print(result)

True

In [ ]:
# not in: Returns True if the substring is not found in the string.
result = "Python" not in str1
print(result)

True

4. Comparison Operators (==, !=, <, >, <=, >=):
  
  You can use comparison operators to compare strings. Python compares strings lexicographically (based on the Unicode value of characters).

In [ ]:
str1 = "apple"
str2 = "banana"

In [ ]:
# ==: Checks if two strings are equal.
(str1 == str2)

False

In [ ]:
# !=: Checks if two strings are not equal.
(str1 != str2)

True

In [ ]:
# <: Checks if one string is lexicographically less than another.
(str1 < str2)

True

In [ ]:
# >: Checks if one string is lexicographically greater than another.
(str1 > str2)

False

In [ ]:
# <=: Checks if one string is lexicographically less than or equal to another.
(str1 <= str2)

True

In [ ]:
# >=: Checks if one string is lexicographically greater than or equal to another.
(str1 >= str2)

False

5. Indexing ([]):
  
  Strings are indexed starting from 0. You can access individual characters of a string using the indexing operator.

In [ ]:
str1 = "Hello"
result = str1[1]
print(result)

e

In [ ]:
str1 = "Hello"
result = str1[-1]
print(result)

o

In [ ]:
str1 = "Hello"
result = str1[-2]
print(result)

l

In [ ]:
str1 = "Hello"
result = str1[0]
print(result)

H

6. **Slicing (`[start:end:step]`):**

  You can extract a portion of a string using slicing. This allows you to specify a start index and an end index. You can also use a step to skip characters.

In [ ]:
str1 = "Hello, World!"
result = str1[7:12]
print(result)

World

In [ ]:
result = str1[::2]
print(result)

Hlo ol!

In [ ]:
result = str1[2::2]
print(result)

lo ol!

In [ ]:
result = str1[4:]
print(result)

o, World!

In [ ]:
result = str1[:-2]
print(result)

Hello, Worl

In [ ]:
result = str1[:-2:2]
print(result)

Hlo ol

7. **String Length (len()):**

  The len() function returns the length of the string.

In [ ]:
str1 = "Hello"
result = len(str1)
print(result)

5

8. **String Formatting (% and .format()):**

  You can format strings using the % operator or the .format() method.

In [ ]:
# % Operator (older style):
name = "John"
age = 25
result = "My name is %s and I am %d years old." % (name, age)
print(result)

My name is John and I am 25 years old.

In [ ]:
# .format() Method (more modern):
result = "My name is {} and I am {} years old.".format(name, age)
print(result)

My name is John and I am 25 years old.

In [ ]:
# f-strings (Introduced in Python 3.6):
result = f"My name is {name} and I am {age} years old."
print(result)

My name is John and I am 25 years old.

In [ ]:
price = 59
txt = f"The price is {price:.2f} dollors"
print(txt)

The price is 59.00 dollors

# **Split**

  The `split()` method is used to divide a string into a list of substrings based on a specified separator. If no separator is provided, it defaults to splitting by any whitespace (spaces, tabs, newlines, etc.).

  Syntax: string.split(separator, maxsplit)

  separator: The delimiter string that determines where the split should occur. If not specified, any whitespace is used.


  maxsplit: Optional. Specifies the maximum number of splits. If not specified, all occurrences are split.

In [ ]:
# 1. Splitting by Whitespace (Default Behavior)
text = "Hello world, welcome to Python!"
# The string is split by spaces. Each word is separated into a list.
result = text.split()
print(result)

['Hello', 'world,', 'welcome', 'to', 'Python!']

In [ ]:
# 2. Splitting by a Specific Separator
text = "apple,orange,banana,grape"
# The string is split at every comma (,), and each fruit is placed into the resulting list.
result = text.split(",")
print(result)

['apple', 'orange', 'banana', 'grape']

In [ ]:
# 3. Splitting with a Limit on Number of Splits (maxsplit)
text = "apple orange banana grape"
# In this case, the string is split by spaces, but only two splits are made, so the last part contains "banana grape."
result = text.split(" ", 2)
print(result)

['apple', 'orange', 'banana grape']

In [ ]:
# 4. Splitting by Multiple Spaces or Different Whitespace Characters
text = "apple   orange\tbanana\ngrape"
# The default split() method will ignore multiple spaces, tabs, and newlines.
result = text.split()
print(result)

['apple', 'orange', 'banana', 'grape']

# **Strip**
  In Python, the `strip()` method is used to remove leading and trailing characters (by default, whitespace) from a string. It is useful for cleaning up input or formatted strings.

**Syntax:**  `string.strip([chars])`

`chars` (optional): A string specifying a set of characters to be removed from the start and end of the string. If omitted, it defaults to removing all types of whitespace (spaces, tabs, newlines, etc.).

In [ ]:
# 1) Removing Whitespace (Default Behavior)
text = "   Hello, World!   "
result = text.strip()
print(result)

Hello, World!

In [ ]:
# 2) Removing Specific Characters
text = "!!Hello, World!!"
result = text.strip("!")
print(result)

Hello, World

In [ ]:
# 3) Removing Multiple Characters
text = "xyzHello, Worldzyx"
result = text.strip("xyz")
print(result)

Hello, World

`lstrip()` removes characters from the start of the string only.

`rstrip() `removes characters from the end of the string only.

In [ ]:
# 4) removes characters from the right side or the left side of the string
text = "   Hello, World!   "

# Remove leading spaces
result_left = text.lstrip()
print(result_left)

# Remove trailing spaces
result_right = text.rstrip()
print(result_right)

Hello, World!
   Hello, World!

In [ ]:
# 5) Handling Newlines or Tabs
text = "\n\tHello, World!\n\t"
result = text.strip()
print(result)

Hello, World!



---

# **Casting**

  The process of converting a value from one data type to another. There are two types of casting

  1. **Implicit Casting:**

  Python automatically converts one data type to another when needed, like when you combine an integer and a float in an expression. For example:

In [ ]:
x = 5    # int
y = 3.2  # float
result = x + y  # Python automatically converts x to a float
print(result)

8.2

  2. **Explicit Casting**
  
  With explicit casting, you can manually convert one data type to another. You use functions like `int()`, `float()`, `str()`, etc., to do this.

In [ ]:
#1) int(): Converts a float or string to an integer.
x = 7.5
result = int(x)  # Converts float to int, truncating the decimal part
print(result)

7

In [ ]:
#2) float(): Converts an integer or string to a float.
x = 5
result = float(x)  # Converts int to float
print(result)

5.0

In [ ]:
#3) str(): Converts any data type to a string.
x = 10
result = str(x)  # Converts integer to string
print("my number is " + result) # we can only concatenate strings to other strings.

my number is 10

In [ ]:
#4) You can also convert data types like lists, tuples, and dictionaries with the appropriate functions.
x = [1, 2, 3]
result = tuple(x)
print(result)

(1, 2, 3)

---

# **list in python**

A list in Python is a versatile, ordered collection of elements that can hold items of different data types.

Key Features of Lists:
1. Ordered: Elements maintain the order they are added in.
2. Indexed: Elements can be accessed using their index (starting at 0).
3. Heterogeneous: A list can store elements of different data types.
4. Mutable: You can modify the contents of a list after creation.

### -> Creating a List:

In [ ]:
# 1) Basic List:
fruits = ["apple", "banana", "cherry"]
print(fruits)

['apple', 'banana', 'cherry']

In [ ]:
# 2) Empty List:
empty_list = []
print(empty_list)

[]

In [ ]:
# 3) Mixed Data Types:
mixed = [1, "hello", 3.14, True]
print(mixed)

[1, 'hello', 3.14, True]

In [ ]:
# 4) Using the list() Constructor:
numbers = list((1, 2, 3))
print(numbers)

[1, 2, 3]

### -> Accessing Elements:

In [ ]:
# 1) By Index:
fruits = ["apple", "banana", "cherry"]
print(fruits[0])
print(fruits[-1])

apple
cherry

In [ ]:
# 2) Slicing:
print(fruits[1:3])
print(fruits[:2])
print(fruits[1:])
print(fruits[:])
print(fruits[:-1])

['banana', 'cherry']
['apple', 'banana']
['banana', 'cherry']
['apple', 'banana', 'cherry']
['apple', 'banana']

## Common List Operations:

### 1. Adding Elements:

In [ ]:
# append(): Add an element to the end.
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
# insert(): Insert an element at a specific position.
fruits.insert(1, "grape")
print(fruits)

['apple', 'grape', 'banana', 'cherry', 'orange']

### 2. Removing Elements:

In [ ]:
# remove(): Remove a specific element.
fruits.remove("banana")
print(fruits)

['apple', 'grape', 'cherry', 'orange']

In [ ]:
# pop(): Remove an element by index (or the last element by default).
fruits.pop(1)
print(fruits)

['apple', 'cherry', 'orange']

In [ ]:
# clear(): Remove all elements.
fruits.clear()
print(fruits)

[]

### 3. Modifying Elements:

In [ ]:
fruits = ["apple", "banana", "cherry"]
fruits[1] = "blueberry"
print(fruits)

['apple', 'blueberry', 'cherry']

### 4. Sorting:

In [ ]:
# Ascending Order:
fruits.sort()
print(fruits)

['apple', 'blueberry', 'cherry']

In [ ]:
# Descending Order:
fruits.sort(reverse=True)
print(fruits)

['cherry', 'blueberry', 'apple']

### 5. Reversing:

In [ ]:
fruits.reverse()
print(fruits)

['apple', 'blueberry', 'cherry']

### 6. Copying a List:

In [ ]:
# Using list slicing for shallow copy
original_list = [1, 2, [3, 4]]
shallow_copy = original_list[:]

# Modifying the inner list in shallow_copy
shallow_copy[2][0] = 100

print("Original List:", original_list)
print("Shallow Copy:", shallow_copy)

Original List: [1, 2, [100, 4]]
Shallow Copy: [1, 2, [100, 4]]

### 7. Iterating Through a List:

In [ ]:
# 1. Using a for Loop:
for fruit in fruits:
    print(fruit)

apple
blueberry
cherry

In [ ]:
# 2. Using enumerate():
for index, fruit in enumerate(fruits):
    print(index, fruit)

0 apple
1 blueberry
2 cherry

### 8. lenght of a list:

In [ ]:
# using len():
length = len(fruits)
print(length)

3