<a href="https://colab.research.google.com/github/baharkarami/Text-Mining-Class/blob/main/working_with_file.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Working with Files

Both lines open the file in read-text mode, and there is no functional difference between them.

**`"rt"`** stands for **"read, text"**, meaning the file is opened in text mode for reading:

In [1]:
f = open("demofile.txt")

In [2]:
f = open("demofile.txt", "rt")



---

This code opens the file `demofile.txt` in read mode (`"r"`) and uses the **`read()`** method to read and display its content:

In [3]:
f = open("demofile.txt", "r")
print(f.read())

Hello! Welcome to demofile.txt
This file is for testing purposes.
Good Luck!



---

This code opens the file `demofile.txt` in read mode (`"r"`) and reads only the first 5 characters of the file using `read(5)`, then displays them:

In [4]:
f = open("demofile.txt", "r")
print(f.read(5))

Hello



---

This code opens the file demofile.txt in append mode (`"a"`), adds the text `"Now the file has more content!"` to the file, and then closes the file.

The **`f.close()`** statement closes the opened file. It is necessary to release system resources and ensure that changes to the file are saved.

After that, the file is reopened in read mode (`"r"`) and its content is displayed:

In [5]:
f = open("demofile.txt", "a")
f.write("Now the file has more content!")
f.close()

#open and read the file after the appending:
f = open("demofile.txt", "r")
print(f.read())

Hello! Welcome to demofile.txt
This file is for testing purposes.
Good Luck!Now the file has more content!



---

This code opens the file `demofile.txt` in write mode (`"w"`), deletes its previous content, writes the text `"Woops! I have deleted the content!"`, and then closes the file.
After that, the file is reopened in read mode (`"r"`) and its new content is displayed:

In [6]:
f = open("demofile.txt", "w")
f.write("Woops! I have deleted the content!")
f.close()

#open and read the file after the appending:
f = open("demofile.txt", "r")
print(f.read())

Woops! I have deleted the content!



---

This code uses the **`os`** module to delete the file `demofile.txt`. After executing this command, the file is removed.

In [7]:
import os
os.remove("demofile.txt")



---

This code first checks if the file `demofile.txt` exists. If the file exists, it deletes it. Otherwise, it prints the message `"The file does not exist"`.

In [8]:
import os
if os.path.exists("demofile.txt"):
  os.remove("demofile.txt")
else:
  print("The file does not exist")

The file does not exist



---


This code opens the file `sample-file.txt` in append mode (`'a'`) with `utf-8` encoding, adds the text `"\nسلام"`, and then closes the file.

`encoding='utf-8'` specifies that the file should be opened or saved using the UTF-8 encoding. This encoding supports most languages, including special characters like Persian letters.

Then, the file is reopened in read mode (`'r'`), its content is stored in the variable `txt`, and then printed.

In [9]:
f = open("sample-file.txt", mode='a', encoding='utf-8')
f.write("\nسلام")
f.close()

f = open("sample-file.txt", mode='r', encoding='utf-8')
txt = f.read()
print(txt)

سلام
سلام
سلام
سلام
سلام
سلام



---

1. Reading the entire file content: In the first section, the file sample-file.txt is opened in read mode (`'r'`) with utf-8 encoding, and all lines of the file are read and printed using **`readlines()`**.

2. Reading the file line by line - Method 1: In the second section, the file is reopened and lines are read one by one using a while loop and the `:=` operator (walrus operator), and printed.


 - `line := f.readline()` assigns the read value to the variable line.

 - while`(line := f.readline())` checks if the line is not empty (if true, the loop continues).

3. Reading the file line by line - Method 2: In the third section, the file is reopened and read line by line using a `for` loop, which automatically iterates over each line in the file and prints it.

In [10]:
print("read total file:")
f = open("sample-file.txt", mode='r', encoding='utf-8')
print(f.readlines())

print("read file line by line  -1:")
f = open("sample-file.txt", mode='r', encoding='utf-8')
while(line := f.readline()):
    print(line)

print("read file line by line  -2:")
f = open("sample-file.txt", mode='r', encoding='utf-8')
for line in f:
    print(line)

read total file:
['\n', 'سلام\n', 'سلام\n', 'سلام\n', 'سلام\n', 'سلام\n', 'سلام']
read file line by line  -1:


سلام

سلام

سلام

سلام

سلام

سلام
read file line by line  -2:


سلام

سلام

سلام

سلام

سلام

سلام



---

The sample.json file is opened, loaded into a dictionary using `json.load()`, and printed.

Keys of the dictionary are printed using a loop.

In the second loop, keys and their values are printed using two formatting methods (`%s` and `f-string`).

In [11]:
import json
with open('sample.json', 'r') as f:
    data = json.load(f)
    print(data)

print("\n-----------------------------\n")

for i in data:
    print(i)

print("\n-----------------------------\n")

for i in data:
    print("%s = %s" % (i, data[i]))
    print(f"{i} = {data[i]}")

{'firstname': 'Bahar', 'lastname': 'Karami', 'age': 21}

-----------------------------

firstname
lastname
age

-----------------------------

firstname = Bahar
firstname = Bahar
lastname = Karami
lastname = Karami
age = 21
age = 21



---


Saving data to a simple JSON file:

  - The file **`data.json`** is opened in **write mode**.
  The **`json.dump()`** method writes the dictionary's data into the file.

  - The **`ensure_ascii=False`** parameter ensures that **non-ASCII characters (like Unicode) are saved without being altered**.

Saving data to a pretty-formatted JSON file:

  - The file **`data.jsonl`** is opened in **write mode**.
  - Data is written with indentation using the **`json.dump()`** method.

  - The **`indent=4`** parameter specifies that each level of **indentation will use 4 spaces**, making the file more readable.

In [12]:
import json

data = {
    "firstname" : "Alice",
    "lastname" : "Hall",
    "age" : "35"
}

with open('data.json', 'w', encoding='utf-8') as f:
    json.dump(data, f, ensure_ascii=False)

with open('data.jsonl', 'w', encoding='utf-8') as f:
    json.dump(data, f, ensure_ascii=False, indent=4)



---

This code uses the Pandas library to create a data table (DataFrame):

A dictionary named `mydataset` is defined with two keys.

The **`pd.DataFrame()`** method converts the dictionary into a tabular data structure (DataFrame).

The variable `myvar`, which contains the DataFrame, is printed.

In [13]:
import pandas as pd

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pd.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2



---

This code uses the Pandas library to create a Series:

A list named `**a**` containing three numbers is defined.

The **`pd.Series()`** method converts the list into a Series.

- A Series in Pandas is a one-dimensional array with values and an associated index.

- By default, the indices start from 0.

The variable `myvar`, which holds the Series, is printed.

In [14]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

0    1
1    7
2    2
dtype: int64



---

The **`index`** parameter is used to set custom indices ("x", "y", and "z").

In [15]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)

x    1
y    7
z    2
dtype: int64



---

The **`pd.Series()`** method converts the dictionary into a Series.

The dictionary keys become the indices, and the values become the data.

In [16]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)

print(myvar)

day1    420
day2    380
day3    390
dtype: int64



---

The data dictionary contains two keys:
- `calories`: A list of calorie values (420, 380, 390).
- `duration`: A list of duration values (50, 40, 45).
Create a DataFrame:

The **`pd.DataFrame()`** method converts the dictionary into a DataFrame.
- Each key becomes a column, and the values of each key become the data for that column.

The variable `df`, which holds the DataFrame, is printed.

In [17]:
import pandas as pd

data = {
    "calories" : [420, 380, 390],
    "duration" : [50, 40, 45]
}

df = pd.DataFrame(data)

print(df)

   calories  duration
0       420        50
1       380        40
2       390        45



---


The `loc` method is used to access rows by index.

- **`df.loc[[0, 1]]`** means selecting rows with indices 0 and 1.

In [18]:
import pandas as pd

data = {
    "calories" : [420, 380, 390],
    "duration" : [50, 40, 45]
}

df = pd.DataFrame(data)

print(df.loc[[0, 1]])

   calories  duration
0       420        50
1       380        40



---

The `data` dictionary contains two keys, `calories` and `duration`, which are used as columns in the DataFrame.

The `index` parameter in `pd.DataFrame()` assigns custom indices ("day1", "day2", "day3") to the rows.
Select rows with custom indices:

The `loc` method is used to select rows by their indices:
- `df.loc[["day1", "day2"]]` selects rows "`day1`" and "`day`".

In [19]:
import pandas as pd

data = {
    "calories" : [420, 380, 390],
    "duration" : [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df.loc[["day1", "day2"]])

      calories  duration
day1       420        50
day2       380        40



---

**`pd.read_csv('data.csv')`** reads the data from `data.csv` into a DataFrame.

**`df.to_string()`** returns the entire content of the DataFrame as a complete text string.

- If the DataFrame is lengthy, it bypasses the default truncated display to show all rows and columns.

In [20]:
import pandas as pd

df = pd.read_csv('data.csv')

print(df.to_string())

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112       NaN
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132       NaN
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
91         45    107       137       NaN
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125       NaN
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       NaN
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4



---


**`pd.read_json('data1.json')`** reads the file `data1.json` and converts it into a DataFrame.
The JSON file should have a structure similar to Python dictionaries.

**`df.to_string()`** converts the entire content of the DataFrame into a string.

In [21]:
import pandas as pd

df = pd.read_json('data1.json')

print(df.to_string())

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300



---

This code creates a DataFrame in Pandas, saves it as a JSON file with a specific orientation, reads the JSON file back into a DataFrame, and prints the content:


1. The data contains three rows and three columns, defined as a 2D array.
Custom indices are set as `row 1`, `row 2`, and `row 3`.
Columns are named `col1`, `col2`, and `col3`.


2. **`to_json()`** saves the DataFrame to the file `file.json`.
- The parameter **`orient='split'`** specifies a split-oriented format, which includes:
  - columns: Column names
  - index: Row indices
  - data: Actual data
- The parameter **`compression='infer'`** defaults to no compression.

3. **`read_json()`** reads the file `file.json` and converts it back into a DataFrame.
- The format must match `orient='split`'.

4. The contents of the file, reloaded as a DataFrame, are printed.

In [22]:
import pandas as pd

df = pd.DataFrame([['a', 'b', 'c'], ['d', 'e', 'f'], ['g', 'h', 'i']],
                  index=['row 1', 'row 2', 'row 3'],
                  columns=['col1', 'col2', 'col3'])

df.to_json('file.json', orient='split', compression='infer', index='true')

df = pd.read_json('file.json', orient='split', compression='infer')

print(df)

      col1 col2 col3
row 1    a    b    c
row 2    d    e    f
row 3    g    h    i